/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Nixie+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');


/* 

Roboto
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

Ultra-regular
.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}

Alan Sans
// <weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class name

.alan-sans-<uniquifier> {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

Nixie-one-regular 
.nixie-one-regular {
  font-family: "Nixie One", system-ui;
  font-weight: 400;
  font-style: normal;
}





*/

/* FONTES */
:root {
--fonte-titulo-h1:
--fonte-textos:
--fonte-subtitulos-h2:
--fonte-subtitulos-h3:

}

/* COR DARK */
:root,
:root[data-theme='dark'] {

    --cor--fundo: #323232;
    --txt-menu-link:rgb(228, 228, 228);
    --borda: rgb(228, 228, 228);
    --icon-theme: rgb(228, 228, 228);
    --cor-titulo: #c885f8;
    --cor-textos: rgb(228, 228, 228);
}

/* COR LIGHT*/
:root,
:root[data-theme='light'] {

    --cor--fundo: rgb(228, 228, 228);
    --txt-menu-link: #323232;
    --borda: #323232;
    --icon-theme: #323232;
    --cor-titulo: #49007d;
    --cor-textos: #323232;

}

/*Aparencia barra de rolagem*/
html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--cor--fundo)
}

/* Reset CSS */ 
* {
    margin: 0; /*Margem externa*/
    padding: 0;
    box-sizing: border-box;
}

body{
    background:var(--cor--fundo) /*COR FUNDO */
}
header {
    display: flex ; /* FLEXBOX */
    justify-content:space-between; /*espaçamento das divs, ou seja, alinhamento horizontal, eixo "x"*/
    align-items: center; /*alinhamento vertical, como se fosse o eixo "y"*/
    width: 100%; /*largura*/
    padding: 0.5rem 1rem ; /*.5 cima e baixo; 1 direita e esquerda */
    border-bottom: 2px solid var(--borda);
    position: fixed;
    z-index: 9999; /* Camadas */
    background: var(--cor--fundo);

    
}


/*nav */
.menu-desktop {
    display: none;
    padding: .5rem;

}
/* ul */
.menu{
    display: flex;
    list-style: none;
    gap: 1.6rem;

}

/*text-link*/
.menu-link {
    text-decoration: none;
}

/*span */
.menu-text {
    text-transform: uppercase;
    color: var(--txt-menu-link);
}

#toggleTheme {
    color: var(--icon-theme);
    cursor: pointer; /* aparencia cursor */
    
}

.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%); /*100%*/
    background: rgb(132, 0, 255);
    width: 75%;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding-top: 4rem;
    height: 100vh; /*viewport height*/
    border-left: 1px solid var(--borda);
    align-items: center


}

.menu-mobile.active {
    transform: translateX(0%);



}


/* .lista-mobile {
    padding-top: 4rem;
    text-align: center;
    list-style: none;

} */

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;

}

.btn-menu-mobile {
    background: transparent;
    border: none;
    color: var(--icon-theme);
    font-size: 1.3rem;
    margin-left: 1rem; /* distancia entre o sol e a lista */
    align-items: center;
    justify-content: center;
    display:flex ;
    padding: .5rem;

}

.header-toggle {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-item {
    text-align: center;

}

/* Herança */
.menu-link.active .menu-text,
.menu-link:hover .menu-text {
    color: rgb(217, 184, 0)
}



h1 {
    font-size: 2.5rem;
    font-family:  "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px;
    color:var(--cor-titulo);

}

p {
    color: var(--cor-textos)
}

/* Reaproveitar para as seções*/ 

#home {
    padding: 3.5rem 1rem;
    background: rgb(255, 220, 42);
}

/* FlexBox da HOME*/
#home {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

/* Responsividade */
/* A partir de 768px o dispositivo deve usar essa resolução */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
    }

    .btn-menu-mobile {
        display: none; /* Em telas Menu Hamburger some */

    }

    h1 { 
        font-size: 5rem;

    }

}

/*Telas > 992px */
@media (min-width: 992px) {
    h1 {
        font-size: 6rem;

    }

}

/* Telas > 1400px */
@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;

    }

}