/* Reset CSS */ 
* {
    margin: 0; /*Margem externa*/
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(132, 201, 173) /*COR FUNDO */
}
header {
    display: flex ; /* FLEXBOX */
    justify-content:space-between; /*espaçamento das divs, ou seja, alinhamento horizontal, eixo "x"*/
    align-items: center; /*alinhamento vertical, como se fosse o eixo "y"*/
    width: 100%; /*largura*/
    padding: 0.5rem 1rem ; /*.5 cima e baixo; 1 direita e esquerda */
    border-bottom: 2px solid #35866f;
    position: fixed;
    
}

h1{
    padding-top: 1200px;
}

/*nav */
.menu-desktop {
    display: none;

}
/* ul */
.menu{
    display: flex;
    list-style: none;
    gap: 1.6rem;

}

/*text-link*/
.text-link {
    text-decoration: none;
}

/*span */
.menu-text {
    text-transform: uppercase;
}















/* Responsividade */
/* A partir de 768px o dispositivo deve usar essa resolução */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
    }
}